<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Run Manalith</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h3>Synthesis </h3>
<div>
<ul class="list-group">
    <li th:each="syn:${synthesis}" th:text="${syn.name}" class="list-group-item"></li>
</ul>
    <form th:action="@{/add_synthesis}" method="get">
        <select class="form-control" name="type">
            <option value="knight" selected th:text="Knight"></option>
            <option value="catalyst" th:text="Catalyst"></option>
        </select>
        <button class="btn btn-outline-primary">Add new Synthesis</button>
    </form>
</div>

<hr>

<h4>Process Request</h4>
<div >
    <ul th:if="${status_req}!=null"  class="list-group">
        <div th:each="status_msg :${status_req}">
        <li  th:text="${status_msg}" class="list-group-item"></li>
        </div>
    </ul>
    <form th:action="@{process_request}" method="post">
    <button type="submit" class="btn btn-primary">Process Request</button>
    </form>

</div>
</body>
</html>